a {
    color: #bdbdbd;
}

mat-card {
    margin-top: 10px;
    margin-bottom: 12px;
}

p {
    font-family: Georgia, serif;
    
    margin-top: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}