mat-card-content {
    margin-left: 35px;
}

mat-radio-button {
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: Georgia, serif;
    font-size: 1.2em;
}

mat-card-actions {
    margin-left: 30px;
    margin-top: -18px;
}

mat-card {
    margin-top: 10px;
    margin-bottom: 12px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
