@import '~@angular/material/theming';

@include mat-core();

// primary theme
$pokemon-app-primary: mat-palette($mat-deep-orange);
$pokemon-app-accent:  mat-palette($mat-indigo);
$pokemon-app-warn:    mat-palette($mat-red);

$pokemon-app-theme:   mat-light-theme($pokemon-app-primary, $pokemon-app-accent, $pokemon-app-warn);

// dark theme
$pokemon-dark-primary: mat-palette($mat-blue-grey);
$pokemon-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$pokemon-dark-warn:    mat-palette($mat-deep-orange);

$pokemon-dark-theme:   mat-dark-theme($pokemon-dark-primary, $pokemon-dark-accent, $pokemon-dark-warn);

// define classes
.pokemon-app-theme {
    @include angular-material-theme($pokemon-app-theme);
}
.pokemon-dark-theme {
    @include angular-material-theme($pokemon-dark-theme);
}
